.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
emails
.~lock.raw_data.csv#
raw_data.csv
data
client_id.json
.httr-oauth
basis vis.pbix
adverts
user_name_and_password.R
impactful adverts
lookups/key_words.csv
Civil service jobs data.pbix
Cogheart.png
HIPE Power BI theme.json
HIPE logo.png
Civil service jobs data internal app.pbix
Civil service jobs data website app.pbix
ea emails
Supporting files
desktop.ini
Power BI dashboards
